

<section class="py-section" id="listings">
  <div class="container">
   {#
{{ drupal_block('views_exposed_filter_block:property_listing_view-block_2') }}
#}
    {{ drupal_view('property_listing_view', 'block_1') }}
  </div>
</section>