<section class="services-section" id="services">
  <div class="container">
    <div class="text-center mb-5" data-aos="fade-up">
      <div class="section-badge">Our Services</div>
      <h2 class="section-title">Everything You Need, <span>Under One Roof</span></h2>
      <div class="section-line center"></div>
      <p class="section-sub mt-3">Explore our wide range of services crafted to meet your financial, property, vehicle, and travel requirements.</p>
    </div>
    <div class="row g-4">
      <!-- LOANS -->
      <div class="col-md-6 col-xl-3" data-aos="fade-up" data-aos-delay="0" id="loans">
        <div class="service-card theme-blue">
          <div class="service-card-header">
            <div class="service-icon-wrap"><i class="fa fa-coins"></i></div>
            <div>
              <h4>Loan Services</h4>
              <p>Financial solutions for every need</p>
            </div>
          </div>
          <ul class="service-list">
            <li>Personal Loan</li>
            <li>Home Loan</li>
            <li>Property Loan</li>
            <li>Gold Loan</li>
            <li>Business Loan</li>
            <li>Vehicle Loan</li>
            <li>Education Loan</li>
            <li>Mortgage / LAP</li>
          </ul>
          <div class="service-card-footer">
            <a href="#contact" class="btn-know-more theme-blue">Know More <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <!-- PROPERTY -->
      <div class="col-md-6 col-xl-3" data-aos="fade-up" data-aos-delay="80" id="property">
        <div class="service-card theme-orange">
          <div class="service-card-header">
            <div class="service-icon-wrap"><i class="fa fa-building"></i></div>
            <div>
              <h4>Property Services</h4>
              <p>Real estate across India</p>
            </div>
          </div>
          <ul class="service-list">
            <li>Buy Property</li>
            <li>Sell Property</li>
            <li>Rent Property</li>
            <li>Residential Property</li>
            <li>Commercial Property</li>
            <li>Land Purchase</li>
            <li>Plot Selling</li>
            <li>Property Consultation</li>
          </ul>
          <div class="service-card-footer">
            <a href="#contact" class="btn-know-more theme-orange">Know More <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <!-- VEHICLE -->
      <div class="col-md-6 col-xl-3" data-aos="fade-up" data-aos-delay="160" id="vehicles">
        <div class="service-card theme-green">
          <div class="service-card-header">
            <div class="service-icon-wrap"><i class="fa fa-car"></i></div>
            <div>
              <h4>Vehicle Buy & Sell</h4>
              <p>New & used vehicle transactions</p>
            </div>
          </div>
          <ul class="service-list">
            <li>Used Car Buy / Sell</li>
            <li>New Vehicle Assistance</li>
            <li>Commercial Vehicles</li>
            <li>Two Wheeler Buy/Sell</li>
            <li>Four Wheeler Buy/Sell</li>
            <li>Vehicle Consultation</li>
          </ul>
          <div class="service-card-footer">
            <a href="#contact" class="btn-know-more theme-green">Know More <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <!-- TRAVEL -->
      <div class="col-md-6 col-xl-3" data-aos="fade-up" data-aos-delay="240" id="travel">
        <div class="service-card theme-purple">
          <div class="service-card-header">
            <div class="service-icon-wrap"><i class="fa fa-van-shuttle"></i></div>
            <div>
              <h4>Travel Transport</h4>
              <p>Vehicle & driver arrangement</p>
            </div>
          </div>
          <ul class="service-list">
            <li>Cab Arrangement</li>
            <li>Driver Arrangement</li>
            <li>Tempo Traveller</li>
            <li>Corporate Transport</li>
            <li>Outstation Travel</li>
            <li>Wedding Transport</li>
            <li>Group Transportation</li>
            <li>Business Travel</li>
          </ul>
          <div class="service-card-footer">
            <a href="#contact" class="btn-know-more theme-purple">Know More <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>