<section class="stats-section">
  <div class="container">
    <div class="row g-4 text-center">
      <div class="col-6 col-md-4 col-lg" data-aos="fade-up" data-aos-delay="0">
        <div class="stat-item">
          <div class="stat-icon"><i class="fa fa-users"></i></div>
          <div class="stat-number" data-target="5000">0</div>
          <div class="stat-divider"></div>
          <div class="stat-label">Happy Customers</div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg" data-aos="fade-up" data-aos-delay="80">
        <div class="stat-item">
          <div class="stat-icon"><i class="fa fa-coins"></i></div>
          <div class="stat-number" data-target="1000">0</div>
          <div class="stat-divider"></div>
          <div class="stat-label">Loans Processed</div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg" data-aos="fade-up" data-aos-delay="160">
        <div class="stat-item">
          <div class="stat-icon"><i class="fa fa-building"></i></div>
          <div class="stat-number" data-target="500">0</div>
          <div class="stat-divider"></div>
          <div class="stat-label">Property Deals</div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg" data-aos="fade-up" data-aos-delay="240">
        <div class="stat-item">
          <div class="stat-icon"><i class="fa fa-car"></i></div>
          <div class="stat-number" data-target="300">0</div>
          <div class="stat-divider"></div>
          <div class="stat-label">Vehicle Partners</div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg" data-aos="fade-up" data-aos-delay="320">
        <div class="stat-item">
          <div class="stat-icon"><i class="fa fa-van-shuttle"></i></div>
          <div class="stat-number" data-target="100">0</div>
          <div class="stat-divider"></div>
          <div class="stat-label">Travel Vehicles</div>
        </div>
      </div>
    </div>
  </div>
</section>