<section class="stats-section">
  <div class="container">
    
    <div class="row g-4 text-center">
      {%for items in  paragraph.field_happy_customer_inner%}

      <div class="col-6 col-md-4 col-lg" data-aos="fade-up" data-aos-delay="0">
        <div class="stat-item">
          <div class="stat-icon"><i class="{{items.entity.field_icon_class[0].value}}"></i></div>
          <div class="stat-number" data-target="{{items.entity.field_title[0].value}}">0</div>
          <div class="stat-divider"></div>
          <div class="stat-label">{{items.entity.field_sub_title[0].value}}</div>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>
</section>